IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/837-view-843.nib
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/839-view-847.nib
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/DashboardTabBarController.nib
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/bin/iPhoneSimulator/Release/err.log
IOS/bin/iPhoneSimulator/Release/out.log
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/837-view-843.nib
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/839-view-847.nib
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/DashboardTabBarController.nib
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/837-view-843.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/839-view-847.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/DashboardTabBarController.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/837-view-843.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/839-view-847.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/DashboardTabBarController.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons72x72@2x~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons72x72~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons76x76@2x~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons76x76~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons83.5x83.5@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons72x72@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons72x72~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons76x76@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons76x76~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons83.5x83.5@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/SQLite-net.dll.mdb
packages/Xamarin.SDWebImage.3.7.5/Xamarin.SDWebImage.3.7.5.nupkg
packages/Xamarin.SDWebImage.3.7.5/lib/MonoTouch/SDWebImage.dll
packages/Xamarin.SDWebImage.3.7.5/lib/Xamarin.iOS/SDWebImage.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/libSDWebImage.a
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/main.i386.m
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/main.i386.o
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/ClassLibrary.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/ClassLibrary.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/DataAcess.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/DataAcess.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Interfaces.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Interfaces.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Microsoft.Practices.ServiceLocation.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Microsoft.Practices.Unity.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/MobileIOS.exe
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/MobileIOS.exe.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Mono.Dynamic.Interpreter.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Mono.Dynamic.Interpreter.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/mscorlib.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/mscorlib.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Prism.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/SDWebImage.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Services.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Services.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/SQLite-net.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/SQLite-net.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/SQLitePCL.raw.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Collections.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.ComponentModel.Composition.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.ComponentModel.Composition.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Core.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Core.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Diagnostics.Debug.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Diagnostics.Tools.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Globalization.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Linq.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Linq.Expressions.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.ObjectModel.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Reflection.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Reflection.Extensions.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Resources.ResourceManager.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Runtime.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Runtime.Extensions.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Threading.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Threading.Tasks.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Xml.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/System.Xml.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/ViewModels.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/ViewModels.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Xamarin.iOS.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/Build/Xamarin.iOS.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/NoRes/SDWebImage.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/ClassLibrary.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/ClassLibrary.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/DataAcess.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/DataAcess.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Interfaces.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Interfaces.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Microsoft.Practices.ServiceLocation.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Microsoft.Practices.Unity.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/MobileIOS.exe
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/MobileIOS.exe.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Mono.Dynamic.Interpreter.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Mono.Dynamic.Interpreter.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/mscorlib.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/mscorlib.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Prism.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/SDWebImage.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Services.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Services.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/SQLite-net.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/SQLite-net.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/SQLitePCL.raw.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Collections.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.ComponentModel.Composition.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.ComponentModel.Composition.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Core.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Core.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Diagnostics.Debug.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Diagnostics.Tools.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Globalization.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Linq.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Linq.Expressions.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.ObjectModel.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Reflection.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Reflection.Extensions.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Resources.ResourceManager.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Runtime.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Runtime.Extensions.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Threading.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Threading.Tasks.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Xml.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/System.Xml.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/ViewModels.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/ViewModels.dll.mdb
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Xamarin.iOS.dll
IOS/obj/iPhoneSimulator/Debug/mtouch-cache/PreBuild/Xamarin.iOS.dll.mdb
LiquidInvoice.Mobile/Services/obj/Debug/Services.csproj.FileListAbsolute.txt
LiquidInvoice.Mobile/Services/obj/Debug/Services.csproj.FilesWrittenAbsolute.txt
LiquidInvoice.Mobile/Services/obj/Debug/Services.dll
LiquidInvoice.Mobile/Services/obj/Debug/Services.dll.mdb
LiquidInvoice.Mobile/Services/obj/Debug/Services.pdb
LiquidInvoice.Mobile/Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LiquidInvoice.Mobile/Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LiquidInvoice.Mobile/Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
