IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons72x72@2x~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons72x72~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons76x76@2x~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons76x76~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons83.5x83.5@2x~ipad.png
