IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/837-view-843.nib
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/839-view-847.nib
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/DashboardTabBarController.nib
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/bin/iPhoneSimulator/Release/err.log
IOS/bin/iPhoneSimulator/Release/out.log
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/837-view-843.nib
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/839-view-847.nib
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/DashboardTabBarController.nib
IOS/bin/iPhoneSimulator/Release/MobileIOS.app/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/837-view-843.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/839-view-847.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/DashboardTabBarController.nib
IOS/obj/iPhoneSimulator/Debug/ibtool/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/837-view-843.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/839-view-847.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/DashboardTabBarController.nib
IOS/obj/iPhoneSimulator/Release/ibtool/Main.storyboardc/OutstandingInvoiceViewController.nib
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons72x72@2x~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons72x72~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons76x76@2x~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons76x76~ipad.png
IOS/obj/iPhoneSimulator/Debug/actool/bundle/AppIcons83.5x83.5@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons72x72@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons72x72~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons76x76@2x~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons76x76~ipad.png
IOS/bin/iPhoneSimulator/Debug/MobileIOS.app/AppIcons83.5x83.5@2x~ipad.png
